// app global css in SCSS form
.text-grand-hotel {
  font-family: "Grand Hotel", "Roboto", "sans-serif";
}

.sm-screen-only {
  @media (max-width: $breakpoint-xs-max) {
    display: block;
  }

  @media (min-width: $breakpoint-sm-min) {
    display: none;
  }
}

.lg-screen-only {
  @media (max-width: $breakpoint-xs-max) {
    display: none;
  }

  @media (min-width: $breakpoint-sm-min) {
    display: block;
  }
}

.constrain {
  max-width: 975px;
  margin: 0 auto;
}

.white-space-line {
  white-space: pre-line;
}

.overflow-wrap-break {
  overflow-wrap: break-word;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.link-text {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
